/* BELOW 1328PX (smaller desktops) */

@media (max-width: 83em) {
  /* .logo {
    margin-left: 11rem;
  }

  .btn-mobile-nav {
    margin-right: 10.4rem;
  } */
}

/* BELOW 1624X (Landscape Tablets) */

@media (max-width: 73em) {
  .container {
    max-width: 105rem;
  }

  /* .btn-mobile-nav:hover {
    transform: none;
  } */

  .nav {
    left: 87%;
  }

  .header {
    padding: 1rem 0rem;
  }
  .logo {
    margin-left: 1rem;
  }

  .btn-mobile-nav {
    margin-right: 1rem;
  }
}

/* BELOW 1088PX (Tablets) */

@media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }

  .logo {
    margin-left: 1rem;
  }

  .btn-mobile-nav {
    margin-right: 1rem;
  }

  .header {
    padding: 1rem 0rem;
  }

  .nav {
    height: 33vh;
  }
}

/*  BELOW 1000pX */

@media (max-width: 63em) {
  .container {
    max-width: 96rem;
  }

  .hero {
    gap: 12rem;
  }
}

/*  BELOW 960pX */
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 80rem;
  }

  .nav {
    left: 83.5%;
    height: 29vh;
  }

  .hero {
    display: grid;

    gap: 7rem;
    padding: 14rem 0 8rem 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .hero-image {
    border: none;
    transition: all 0.5s ease-in;
    transform: translateX(140%);
    opacity: 0;
    visibility: hidden;
    z-index: -9;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .about-flex {
    display: grid;
    gap: 10rem;

    grid-template-columns: 1fr;
  }

  .about-flex img {
    width: 70%;
    height: 80rem;
  }

  .education-details {
    grid-template-columns: 42fr 58fr;
  }

  .contact-flex {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    justify-items: self-start;
  }

  .logo {
    margin-left: 6rem;
  }

  .btn-mobile-nav {
    margin-right: 6rem;
  }

  .project img {
    height: 70rem;
  }
}

/*  BELOW 880pX */

@media (max-width: 55em) {
  .container {
    max-width: 75rem;
  }

  .nav {
    left: 82%;
    width: 14%;
  }

  /* .logo {
    margin-left: 4.8rem;
  }

  .btn-mobile-nav {
    margin-right: 4.8rem;
  } */
}

/* below 704px */

@media (max-width: 44em) {
  .logo {
    margin-left: 3rem;
  }

  .btn-mobile-nav {
    margin-right: 3rem;
  }
}

/* BELOW 656px (Phones) */

@media (max-width: 41em) {
  .container {
    max-width: 40rem;
  }
  .btn-mobile-nav {
    margin-right: 3rem;
  }

  .hero {
    gap: 3rem;
  }

  .nav {
    height: 23.4vh;
    width: 30%;
    left: 68%;
  }

  .logo {
    margin-left: 3rem;
  }

  .about-flex img {
    width: 100%;
    height: 45rem;
  }

  .introduction {
    width: 83%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
  }

  .education-details {
    gap: 1rem;

    grid-template-columns: 1fr;
  }

  .socials {
    display: block;
    gap: 3rem;
    margin-bottom: 5rem;
  }
  .social-links {
    margin-right: 1rem;
  }
  .project img {
    height: 30rem;
  }
  .footer {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .copyright {
    margin-bottom: 2rem;

    justify-self: baseline;
  }

  .school-name {
    display: grid;
    gap: 1rem;

    grid-template-columns: 1fr;
  }
  .contact-flex {
    gap: 7rem;
  }
  .grid {
    row-gap: 2rem;
    column-gap: 0rem;
  }

  .contact p {
    margin-bottom: 2rem;
  }

  .hero-image {
    margin-left: -6rem;
  }

  .main-nav-lists {
    margin-top: 5.5rem;
  }
}

/* setting media queries for the height of devices in potrait mode */

@media (min-height: 55em) {
  .nav {
    height: 21vh;
  }
}

@media (max-height: 38em) {
  .nav {
    height: 52vh;
  }

  .main-nav-lists {
    margin-top: 4.5rem;
  }
}

/* @media (max-width: 41em) {
  .container {
    max-width: 40rem;
  } */
